html, body, form {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.clear {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#render-main {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
}
#render-header {
    margin:0 auto;
}
#render-center {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
}
#render-footer {
    height:60px;
    margin-top:-60px;
    margin:0 auto;
}
.render {}
.render .header-left {
	float:left;
}
.render .header-right {
	float:right;
	padding:0;
}
.render .header-mid {
    width:auto;
}
.render .center-left {
	float:left;
}
.render .center-right {
	float:right;
}
.render .center-mid {
    width:auto;
}
.render .footer-left {
	float:left;
}
.render .footer-right {
	float:right;
}
.render .footer-mid {
    width:auto;
}
.render-clear {
	overflow:hidden;
}
.render-clear-left {
	clear:left;
}
.render-clear-right {
	clear:right;
}
.render-clear-both {
	clear:both;
}
.render-loader {
	background-image: url('{$modTplDir}images/ajax-loader.gif');
}
.render-loader-lb {
	background-image: url('{$modTplDir}images/lightbox-loading.gif');
}
.render-loader-sl {
	background-image: url('{$modTplDir}images/loading.gif');
}
.render-loading {
	position:absolute;
	left:50%;
	top:0;
	padding:10px 20px 10px 36px;
	margin-left:-55px;
	background-color:#fff;
	background-position:10px center;
	background-repeat:no-repeat;
	color:#000;
}
.render-loading span {
	color:#fff;
}