/* ---- сообщения (поп-ап) --- */
.msgr {}
.msgr .alert-box {
	text-align:left;
}
.msgr .alert-box .mab-title {
	padding:5px 5px 5px 40px;
	font-size:14px;
  	font-weight:bold;
  	text-align:left;
  	line-height:30px;
	background-color:#eceaea;
}
.msgr .alert-box .mab-title.mab-inf {
	color:#6d6d6d;
	background:url('{$modTplDir}images/alert_i.gif') left center no-repeat;
}
.msgr .alert-box .mab-title.mab-wrn {
	color:#775c1f;
	background:url('{$modTplDir}images/alert_w.png') left center no-repeat;
}
.msgr .alert-box .mab-title.mab-err {
	color:#772020;
	background:url('{$modTplDir}images/alert_e.gif') left center no-repeat;
}
.msgr .alert-box .mab-title.mab-confirm {
	color:#204B77;
	background:url('{$modTplDir}images/confirm.png') left center no-repeat;
}
.msgr .alert-box .mab-title.mab-confirm2 {
	color:#457720;
	background:url('{$modTplDir}images/confirm2.png') left center no-repeat;
}
.msgr .alert-box .mab-body {
	font-size:14px;
	padding:15px 15px 30px 15px;
	overflow:hidden;
	background-position:20px center;
	background-repeat:no-repeat;
}
.msgr .alert-box .mab-buttons {
	text-align:center;
}
.msgr .alert-box .mab-buttons .mab-btn {
	display:inline-block;
	width:90px;
	padding:4px 0;
	margin-left:20px;
	text-align:center;
	cursor:pointer;
	border:1px solid #bcbcbc;
	border-radius: 3px;
	background-color:#fff;
}
.msgr .alert-box .mab-buttons .mab-btn:first-child {
	margin-left:0;
}
.msgr .alert-box .mab-buttons .mab-btn:hover {
	background-color:#f0f0f0;
	color:#0b55c4;
}
