.auth{}
.auth .login-box {

}
.auth .login-box h2.head {
	color: black;
	font-size:24px;
	line-height:37px;
	text-transform:uppercase;
	font-family:'HeliosUltraCompressed', sans-serif;
	font-weight:normal;
	margin-top:0;
	margin-bottom:14px;
}
.auth .login-box .inner {
	border:solid 1px #eceaea;
	padding:10px;
	margin-bottom:40px;
}
.auth .login-box .inner .rel {
	position:relative;
	height:18px;
}
.auth .login-box .inner .rel .sect-head {
	position:absolute;
	left:20px;
	top:0;
	padding:10px 20px;
	border: solid 1px #eceaea;
	color:#494949;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff;
	z-index:+1;
}
.auth .login-box .inner .fields {
	border:solid 1px #eceaea;
	padding:55px 20px 33px 20px;
}
.auth .login-box .inner .fields .field {
	margin-bottom:10px;
}
.auth .login-box .inner .fields span.field-title {
	display:inline-block;
	width:120px;
	height:16px;
	color:#494949;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
}
.auth .login-box .inner .fields input.field-input {
	width:405px;
}
.auth .login-box .inner .btns {
	padding:20px 0 40px 0;
}
.auth .login-box .inner .btns span.btn-link {
	display:inline-block;
	height:16px;
	cursor:pointer;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	text-decoration:underline;
}
.auth .login-box .inner .btns .rmargin {
	margin-right:10px;
}
.auth .login-box .inner .btns span.btn-link:hover {
	text-decoration:none;
}
.auth .login-box .inner .btns .waiter {
	width:16px;
	height:16px;
	background:url('/core/classes/class.core/templates/default/images/ajax-loader.gif');
}
.auth .login-box .inner .fields .regnote {
	padding-bottom:10px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:12px;
}
/* ---------- --- logged box --- -------------- */
.auth .logged-box {

}
.auth .logged-box h2.head {
	color: black;
	font-size:24px;
	line-height:37px;
	text-transform:uppercase;
	font-family:'HeliosUltraCompressed', sans-serif;
	font-weight:normal;
	margin-top:0;
	margin-bottom:14px;
}
.auth .logged-box .inner {
	border:solid 1px #eceaea;
	padding:10px;
	margin-bottom:40px;
}
.auth .logged-box .inner .msg {
	text-align:center;
}
.auth .logged-box .inner .msg-text {
	font-size:14px;
	color:#333;
	text-align:center;
	padding:0 0 10px 0;
}
.auth .logged-box .inner .msg a.main-go {
	font-size:14px;
	color:#666;
	text-decoration:underline;
}
.auth .logged-box .inner .msg a.main-go:hover {
	text-decoration:none;
}